<div class="y-form">
        <div class="formbg">
            此刻开始，为您服务！
            <!-- <img src="/images/formbg.jpg"/> -->
        </div>
        <div class="information clearfix">
                <div class="left">
                        <!-- <h3>此刻开始，为您服务！</h3> -->
                        <!-- <div>
                            <div class="item">
                                <h5>Step One</h5>
                                <div>
                                    <p>请您填写右侧的表单进行提交</p>
                                    <p>请填写真实准确的信息方便我们联系到您</p>
                                    <p>备注内可填写您特殊的需求或建议</p>
                                </div>
                            </div>
                            <div class="item">
                                <h5>Step Two</h5>
                                <div>
                                    <p>您申请后我们会在工作日2小时内联系到您，非工作日会在24小时内联系到您</p>
                                    <p>如果没有及时联系到您，还可以拨打电话：010-64429975进行咨询</p>
                
                                </div>
                            </div>
                            <div class="item">
                                <h5>Step Three</h5>
                                <div>
                                    <p>我们将竭诚为您服务</p>
                                    <p>我们会针对您的需求结合产品特点，为您提供全套解决方案</p>
                                    <p>非常感谢您对我司的关注与支持</p>
                                </div>
                            </div>
                        </div> -->
    
                        <div class="block_one">
                            <div class="title align_right">Step One</div>
                     
                            <div class="align_left content ">
                                    请您填写右侧的表单进行提交<br/>
                                    请填写真实准确的信息方便我们联系到您
                            </div>
                        </div>
                        <div class="block_one">
                                
                         
                                <div class="align_right content content-sub ">
                                        提交后我们会在2小时内联系到您，非工作日会在24小时内联系到您
                                    未及时联系到您，请拨打电话：010-64429975
                                </div>
                                <div class="align_left title " id="title-sub">Step Two</div>
                            </div>
                            <div class="block_one">
                                    <div class="title align_right">Step Three</div>
                             
                                    <div class="align_left content ">
                                            我们将竭诚为您服务
                                    针对您的需求结合产品特点，为您提供全套解决方案
                                    非常感谢您对我司的关注与支持
                                    </div>
                                </div>
                        <div class="shape">
                            <span class="shape_circle"></span>
                            <span class="shape_wire"></span>
                            <span class="shape_circle"></span>
                            <span class="shape_wire"></span>
                            <span class="shape_circle"></span>
                            <span class="shape_wire"></span>
                            <span class="shape_circle"></span>
                            <span class="shape_wire"></span>
                            <span class="shape_circle"></span>
                        </div>
    
                    </div>
                    <div class="right">
                        <h4>{{ .Site.Params.form_title2 }}</h4>
                        <form action="" method="post">
                            <div class="text">
                                <p>公司名称</p>
                                <input type="" name="" value="" placeholder="" />
                                <img class="import" src="/images/import.png" />
                            </div>
                            <div class="text">
                                <p>姓名</p>
                                <input type="" name="" value="" placeholder="" />
                                <img class="import" src="/images/import.png" />
                            </div>
                            <div class="text">
                                <p>邮件地址</p>
                                <input type="" name="" value="" class="email" placeholder="" />
                                <img class="import" src="/images/import.png" />
                            </div>
                            <div class="text phone_block">
                                <p>手机号码</p>
                                <input type="" name="" value="" class="phone" placeholder="" />
                                <img class="import" src="/images/import.png" />
                                <button class="code_button" value="">点击获取验证码</button>
                            </div>
                            <!-- <div class="text">
                                <p>随机码：</p>
                                <input class="random" type="" name="" value="" placeholder="请填写随机码在获取验证码" />
                                <img class="randomimg" src="/images/u107.png"/>
                                <img class="rotate" src="/images/u109.png"/>
                                <img class="import" src="/images/import.png" />
                            </div> -->
                            <div class="text">
                                <p>验证码</p>
                                <input class="code" type="" name="" value="" placeholder="" />
                                
                                <img class="import" src="/images/import.png" />
                            </div>
                            <div class="text">
                                <p>演示产品</p>
                                <select>
                                    <option value="">请选择</option>
                                    <option value="">营销自动化</option>
                                    <option value="">会员短信营销</option>
                                    <option value="">会员邮件营销</option>
                                </select>
                                <img class="import" src="/images/import.png" />
                            </div>
                            <!-- <div class="remark">
                                <p>备注：</p>
                                <textarea name="" id="" cols="30" rows="10" placeholder="请留下您的宝贵建议！"></textarea>
                            </div> -->
                            <div class="submit">
                                <button class="" type="submit" value="">立即预约</button>
                                    
                            </div>
                            
                        </form>
                    </div>
        </div>
        
    </div>