<div class="y-automation fixHeight item_auto">
    <div class="sample center_item">
        <h3 class="h3_title"><img src="/images/营销自动化.png" alt="营销自动化"/></h3>
        <h5 class="h3_title"><img src="/images/营销自动化en.png" alt="Marketing Automation"/></h5>
        <p class="intro title_4 opacity0"><img src="/images/自动化描述.png" alt="自动化详述"/></p>
        <!-- <div class="message">价值体现</div> -->
        <!-- <p class="harvest title_4 opacity0">为企业会员回购提升
            <span>10%</span>以上的销售收入</p>
        <p class="harvest title_4 opacity0">为企业会员营销降低
            <span>50%</span>以上的营销成本</p>
        <p class="harvest title_4 opacity0">为企业营销岗位节省
            <span>60%</span>以上的人力成本</p>
        <p class="harvest title_4 opacity0">为企业营销策划节省
            <span>80%</span>以上的沟通成本</p> -->
            <p class="title_4 opacity0"><img src="/images/自动化详述5.png" alt="自动化详述5"/></p>
    </div>


</div>