<div class="y-autofunction  fixHeight item_auto">
    <div class="sample center_item">
        <h3 class="h3_title"><img src="/images/function-title.png" alt="功能详解"/></h3>
        <div>
                <div>
                        <div class="left">
                            <h4 id="Group" class="title_1 opacity0 text_color">智能分组</h4>
                            <h5 class="english title_1 opacity0 text_color">Smart Group</h5>
            
            
                            <p class="harvest title_2 opacity0">
                                <span>可视化</span>界面操作逻辑清晰可见</p>
                            <p class="harvest title_2 opacity0">
                                <span>亿</span>级数据整合运算能力</p>
                            <p class="harvest title_2 opacity0">海量会员数据
                                <span>秒</span>级定位</p>
                            <!-- <div class="message">价值体现</div> -->
                        </div>
                        <div class="right">
                            <img class="title_1 opacity0" src="/images/autofunction1.png" />
                            <img class="title_1 opacity0"src="/images/autofunction2.png" />
                        </div>
                    </div>
        </div>
        
    </div>





</div>