<header class="y-header ">
    <div class="b-center">
        <h1 class="header_logo">
            <a href="/">
                <img src="/images/logo.png" />
            </a>

        </h1>
        <nav>

            <ul class="sf-menu" id="example">

                <li class="nav_item current" mark="automation">
                    <a href="/post/automation" class="scope introduction">产品介绍</a>
                    
                        <!-- <ul class="child_nav">
                            <li class="child_block auto_marking green_bg">
                                <a class="block_a " href="/post/automation">营销自动化 <span class="right_more"></span></a>
                               
                                        <ul class="auto_item">
                                                <li class="current green_bg">
                                                    <a href="/post/automation#Group">智能分组</a>
                                                </li>
                                                <li class=" current green_bg">
                                                    <a href="/post/automation#Flow">工作流</a>
                                                </li>
                                                <li class=" current green_bg">
                                                    <a href="/post/automation#Report">智能报表</a>
                                                </li>
                                                <li class=" current green_bg">
                                                    <a href="/post/automation#Smart">web埋点</a>
                                                </li>
                                            </ul>
                                
                                
                            </li>
                            <li class="child_block green_bg">
                                <a class="block_a " href="/post/email">会员邮件营销</a>
                            </li>
                            <li class="child_block green_bg">
                                <a class="block_a" href="/post/note">会员短信营销</a>
                            </li>
                           


                        </ul> -->

                        
                        <span class="line"></span>
                </li>


                <li class="nav_item current" mark="form">
                    <a href="/post/form" class="scope show">产品展示</a>
                    <span class="line"></span>
                </li>

                <li class="nav_item current" mark="example">
                    <a href="/post/example" class="scope">成功案例</a>
                    <span class="line"></span>
                </li>
                <li class="nav_item current" mark="coming-soon">
                    <a href="/post/coming-soon" class="scope">技术支持</a>
                    <span class="line"></span>
                </li>
                <li class="nav_item current" mark="about">
                    <a href="/post/about" class="scope">关于我们</a>
                    <span class="line"></span>
                </li>


            </ul>
        </nav>
        <div class="tip" id="tip">
                <div class="phone">
                        <a class="scope" href="/post/form">Tel : 010-64429975</a>
                    </div>
            <div class="consult">
                <a class="scope" href="/post/form">方案咨询</a>
            </div>
            <div class="login">
                <a class="scope" href="https://xrewin.com/login">登录</a>
            </div>
            <!-- <div class="search">
                <a href="/post/form">
                    <img src="/images/header-search.png" />
                </a>
            </div> -->
        </div>
    </div>
    <div class="child_nav_2">
            <div>
                <a href="/post/automation#Group">
                    <img src="/images/nav_group.png"/>
                    <div class="stand"></div>
                </a>
                <a href="/post/automation#Flow">
                    <img src="/images/nav_flow.png"/>
                    <div class="stand"></div>
                </a>
                <a href="/post/automation#Report">
                    <img src="/images/nav_report.png"/>
                    <div class="stand"></div>
                </a>
                <a href="/post/automation#Smart">
                    <img src="/images/nav_io.png"/>
                    <div class="stand"></div>
                </a>
                <a href="/post/email">
                    <img src="/images/nav_email.png"/>
                    <div class="stand"></div>
                </a>
                <a href="/post/note">
                    <img src="/images/nav_note.png"/>
                 
                </a>
            </div>
        </div>
        
</header>