<div class="y-marketing  fixHeight item_auto">
    <div class="sample center_item">
        <div class="left">
            <img class="marketA title_1 opacity0" src="/images/market1.png" />
            <img class="marketB title_1 opacity0" src="/images/market2.png" />
            <img class="marketC title_1 opacity0" src="/images/market3.png" />
            <img class="marketD title_1 opacity0" src="/images/market4.png" />
            <img class="marketE title_1 opacity0" src="/images/market5.png" />
            <img class="marketF marketleft title_1 opacity0" src="/images/market6.png" />
            <img class="marketF marketright title_1 opacity0" src="/images/market6.png" />
            <img class="marketG marketup title_1 opacity0" src="/images/marketup.png" />
            <img class="marketG marketdown title_1 opacity0" src="/images/marketup.png" />

        </div>
        <div class="right">

            <h4 class="title_1 opacity0 text_color">营销互动</h4>
            <h5 class="english title_1 opacity0 text_color">Interaction Marketing</h5>


            <p class="harvest title_2 opacity0">系统自带
                <span>营销渠道</span>免去对接部署的烦恼</p>
            <p class="harvest title_2 opacity0">
                <span>多样性</span>的营销互动载体</p>
            <p class="harvest title_2 opacity0">
                <span>官网</span>广告位+弹窗个性化推荐</p>
            <!-- <div class="message ">价值探索 ...</div> -->
        </div>

    </div>

</div>