<div class="y-more-information">
    <h3 class="title">您所需要了解的信息</h3>
    <div class="block">
            <div class="item">
                    <img src="/images/u316.png" />
                    <span>关于质量</span>
                    <div>
                        <p>95%以上的发送成功率</p>
                        <p>优秀的收件箱到达效果</p>
                        <p>专业的技术配置</p>
                        <p>拒绝发送任何一封垃圾邮件</p>
                    </div>
            
                </div>
                <div class="item">
                    <img src="/images/u314.png" />
                    <span>关于质量</span>
                    <div>
                        <p>95%以上的发送成功率</p>
                        <p>优秀的收件箱到达效果</p>
                        <p>专业的技术配置</p>
                        <p>拒绝发送任何一封垃圾邮件</p>
                    </div>
            
                </div>
                <div class="item">
                    <img src="/images/u318.png" />
                    <span>关于质量</span>
                    <div>
                        <p>95%以上的发送成功率</p>
                        <p>优秀的收件箱到达效果</p>
                        <p>专业的技术配置</p>
                        <p>拒绝发送任何一封垃圾邮件</p>
                    </div>
            
                </div>
    </div>
    
    <div class="tip">由于环境与使用场景不同，以上说明仅供参考，以实际使用为准</div>
</div>